.lt_main {
  background: #fff;
}
.lt_main .nav {
  padding: 10px;
}
.lt_main .nav li {
  float: left;
  width: 33.3%;
}
.lt_main .product {
  padding: 10px;
}
.lt_main .product .product_item {
  padding: 10px;
  float: left;
  width: 48%;
  text-align: center;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}
.lt_main .product .product_item:nth-child(even) {
  margin-left: 4%;
}
.lt_main .product .product_item .price {
  color: red;
}
